<!--change password section-->
<div class="change-password-form col-lg-9">
    <h4>Enter the credential below for changing the password.</h4>
    <div class="alert alert-success" ng-show="bChangePasswordSuccess" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Password updated successfully.
    </div>
    <div class="alert alert-danger" ng-show="bErrorChangePassword" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Please check the credential provided.
    </div>
    <form name="changepasswordform" ng-show="!bChangePasswordSuccess" ng-submit="changePasswordFn()" novalidate>
        <div class="form-group">
            <div class="controls">
                <input password-validation type="password" class="form-control" name="password" ng-model="changepassword.password" placeholder="Old password" required>
                <span ng-show='changepasswordform.password.$error.valid' ng-class="{'help-inline':'changepasswordform.password.$error.valid'}">
                        Password should be minimum 6 characters.
                    </span>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <input password-validation type="password" class="form-control" name="newpassword" ng-model="changepassword.newpassword" placeholder="New password" required>
                <span ng-show='changepasswordform.newpassword.$error.valid' ng-class="{'help-inline':'changepasswordform.newpassword.$error.valid'}">
                        Password should be minimum 6 characters.
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="controls">
                <input password-validation type="password" class="form-control" name="confirmnewpassword"
                       compare-to="changepassword.newpassword" ng-model="changepassword.confirmnewpassword" placeholder="Confirm new password" required>
                <span ng-show='changepasswordform.confirmnewpassword.$error.valid' ng-class="{'help-inline':'changepasswordform.confirmnewpassword.$error.valid'}">
                        Password should be minimum 6 characters.
                </span>
                <span ng-show='changepasswordform.confirmnewpassword.$error.valueMismatch' ng-class="{'help-inline':'changepasswordform.confirmnewpassword.$error.valueMismatch'}">
                        Kindly verify the password.
                </span>

            </div>
        </div>

        <button type="submit" class="btn btn-default" ng-disabled="!changepasswordform.$valid">Change password</button>
    </form>
</div>
